@define-color foreground #9a9c9b;
@define-color foreground-inactive #ffffff;
@define-color background #131926;

* {
    font-family: Jet Brains Mono;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: transparent;
}

#workspaces button {
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: 0px;
    background-color: @background;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    color: @foreground;
}

#tray,
#clock,
#usage,
#net {
    background-color: @background;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#memory,
#network {
    margin-right: 0.8em;
}
