[Desktop Entry]
Name=Discord
Exec=./personal/softwares/discord-0.0.111/Discord/Discord
Icon=./personal/softwares/discord-0.0.111/Discord/discord.png
Type=Application
Categories=GTK;GNOME;Utility;
