* {
  accent:           #d4ccb4;
  background:       rgba(26, 29, 33, 0.85);
  background-light: rgba(34, 38, 43, 0.90);
  foreground:       #f0efeb;
  on:               #b8c4b8;
  off:              #cdacac;
}
